.funcionamento-bg {
  background: #1188EE;
}

.funcionamento {
  padding: 10px 20px;
}

.funcionamento p {
  font-family: 'Nunito', sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
}

@media (max-width: 800px) {
  .funcionamento {
    padding: 10px;
  }
}