.home-bg {
  position: relative;
  width: 100%;
  height: 400px;
  background-image: url("/img/bg-intro.jpg");
  background-size: cover;
  display: grid;
  align-items: end;
}

.home {
  display: flex;
  justify-content:space-between;
  align-items: center;
  
}

.matricular {
  display: flex;
}

.home h1 {
  bottom: 40px;
  font-family: "Alice", serif;
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 400;
  color: #fff;
}

.form-home input {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  color: #18232e;
  background: #fff;
  border: 1px solid #eee;
  padding: 8px;
  border-radius: 4px 0 0 4px;
  width: 250px;
  box-sizing: border-box;
}

.botao-home {
  bottom: 40px;
  background: #ee2211;
  padding: 12px 16px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px 4px 4px 0px;
}

.botao-home.seta::after {
  content: "";
  display: inline-block;
  background: url(/img/seta.svg);
  width: 17px;
  height: 13px;
  margin-left: 4px;
}
